<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sienrgitec.painaniprov">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.pedidohistoricoActivity"></activity>
        <activity android:name=".activity.pedidodetalleActivity" />
        <activity android:name=".activity.pedidoenviarActivity" />
        <activity android:name=".activity.updateProductoActivity" />
        <activity android:name=".activity.viewProductoActivity" />
        <activity
            android:name=".activity.NewProductoActivity"
            android:label="Nuevo Producto" />
        <activity
            android:name=".activity.ArticulosActivity"
            android:label="Productos" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



</manifest>